body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 

FBA24F 
FF1E1E

0B0D17
*/
.hero_section {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #575757; */
}
.hero_info {
  width: 45%;
  height: fit-content;
  margin-bottom: 0;
}
.orange_text {
  color: #0d92ff;
}
.hero_info .hero_title {
  font-size: 50px;
  font-weight: 800;
  color: #575757;
  margin-bottom: 0%;
}
.hero_info p {
  margin-bottom: 50px;
  margin-top: 25px;
  color: #828282;
  padding-right: 100px;
}
.hero_info a {
  padding: 10px 40px;
  border-radius: 50px;
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(#0db2ff, #0081fa);
}

.hero_image {
  width: 45%;
  height: 600px;
  margin: 0;
  padding: 0;
  background-image: url(/images/hero_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.hero_image img {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}
.about_me {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  background-image: url(/images/about-Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.about_me .about_image {
  width: 50%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_image img {
  width: 500px;
  height: 100%;
}
.about_me .about_me_info {
  width: 600px;
  height: max-content;
}

.about_me_info h2 {
  font-size: 40px;
  font-weight: 800;
  color: #575757;
}
.about_me_info p {
  color: #18191f;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 50px;
}

.about_me_info a {
  margin: 50px 0px;
  padding: 10px 40px;
  border-radius: 50px;
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(#0db2ff, #0081fa);
}
